@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  direction: rtl;
  background-color: #f7f3ed; /* צבע הרקע של הגרסה הקלאסית */
  margin: 0;
  color: #1e140a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ביטול קווי מתאר כחולים בלחיצה על כפתורים במובייל */
button, a {
  -webkit-tap-highlight-color: transparent;
}
